<!--The content below is only a placeholder and can be replaced.-->
<h1>Here is an example of working @ngx-prism/core </h1>
<h2>
  Component: prism-highlight
</h2>
<div>
  <p>
    <input type="radio" name="language" value="css" (change)="setLanguage($event)" [attr.checked] = "language === 'css' ? 'checked' : null" /> CSS
    <input type="radio" name="language" value="html" (change)="setLanguage($event)" [attr.checked] = "language === 'html' ? 'checked' : null" /> HTML
    <input type="radio" name="language" value="javascript" (change)="setLanguage($event)" [attr.checked] = "language === 'javascript' ? 'checked' : null" /> JAVASCRIPT
  </p>
  <textarea rows="7" cols="50" name="css" (keyup)="update($event)" [innerHTML]="example.css.code"></textarea>
  <prism-highlight [language]="language">{{example.css.code}}</prism-highlight>
  <prism-highlight [language]="language" [code]="example.css.code"></prism-highlight>
</div>
<div>
  <textarea rows="5" cols="50" name="html" (keyup)="update($event)" [innerHTML]="example.html.code"></textarea>
  <prism-highlight [language]="'html'" [callback] = "callback">{{example.html.code}}</prism-highlight>
  <prism-highlight [language]="'html'" [code]="example.html.code"></prism-highlight>
</div>
<div>
  <textarea rows="5" cols="50" name="interpolation" (keyup)="update($event)" [innerHTML]="example.interpolation.code"></textarea>
  <prism-highlight [interpolation]="true" [language]="example.interpolation.language" [code]="example.interpolation.code">/** ng-content */</prism-highlight>
</div>
